<h1>Listing games</h1>

<div class="base-layer">
  <div class="table-row"> 
      <div class="left-container13">
        <b>Games Name</b>
      </div>
      <div class="left-container23" >
        <b>Games Title</b>
      </div>
      <div class="right-container13" >.
      </div>
  </div>
  <br />
  <% @posts.each do |post| %>
    <div class="table-row"> 
      <div class="left-container13">
        <%= post.name %>
      </div>
      <div class="left-container23" >
        <%= post.title %>
      </div>
      <div class="right-container13" >
        <%= link_to 'Show', post %>
      </div>
    </div>
  <% end %>
</div>


<br />
<br />

<%= link_to 'Create New Game', new_post_path %>
